@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #7159c1;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 32px;
    text-align: center;
}

.links {
    font-size: 22px;
}

.links a {
    margin-left: 32px;
    text-decoration: none;
}